._6k_ .img{margin:0;position:absolute}
.sp_BEd28m4zjRY_2x{background-image:url(/rsrc.php/v3/yW/r/u7PDjOcNw8P.png);background-size:21px 42px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_BEd28m4zjRY_2x.sx_211643{background-position:0 0}.sp_BEd28m4zjRY_2x.sx_92ed0f{background-position:0 -21px}

#bootloader_khhNL{height:42px;}.bootloader_khhNL{display:block!important;}